@import "_variables";

#cart {
  grid-template-rows: 1px;
  grid-template-areas: ". . ." ". cartlist ." "best-selling best-selling best-selling";
  row-gap: 2rem;

  .cart-wrapper {
    grid-area: cartlist;
    display: grid;
    grid-template-columns: 8fr 300px;
    grid-template-areas: "list list" "sum sum";
    gap: 2rem;

    @media (min-width: $viewport-lg) {
      grid-template-areas: "list sum";
    }

    .cart-list {
      grid-area: list;
      padding: 1rem;
      background-color: $light-grey;
      color: $secondary-color;

      h1 {
        color: $secondary-color;
      }

      .cart-item {
        margin-top: 2rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > a {
          margin-top: 0;
        }

        .cart-item-img {
          text-align: center;
          img {
            display: block;
            max-width: 100px;
          }
        }

        .product-name {
          text-align: left;
        }

        .product-prices {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 1.4rem;
          margin: 1rem 0;
          width: 100%;
        }

        .remove-cart-item {
          @extend %input-submit;
          border-color: red !important;
          max-width: 40%;
          align-self: flex-end;
          margin-top: 0;

          &:hover {
            background-color: red !important;
          }
        }

        @media (min-width: $viewport-sm) {
          padding-left: 1rem;
        }
      }

      a {
        display: block;
        margin-top: 1rem;
        color: $tertiary-color;
      }

      @media (min-width: $viewport-lg) {
        flex-basis: 70%;
      }
    }
  }
}
