@import "_variables";

.jumbotron {
  grid-area: jumbotron;
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-size: cover;
  background-position: center;

  .category-name {
    margin-top: 1rem;
    padding-bottom: 0.2rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 80%;
      height: 2px;
      background-color: red;
    }
  }
}
