$primary-color: #000000;
$secondary-color: #e5e5e5;
$tertiary-color: #ffcd11;
$light-grey: #262626;

$viewport-xl: 1200px;
$viewport-lg: 992px;
$viewport-md: 768px;
$viewport-sm: 576px;

$shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
